@{
    ViewData["Title"] = "Home Page";
}

<<div class="None">
    <h1>Contoso University</h1>
</div>
<div>
    class="row">
    <class ="row">
        <div class="col-md-4">
            <h2>Welcome To Contoso University</h2>
            <p>
                Yan Shapovalov
                TARpe23
                2024/2025
            </p>
        </div>
        <div class="col-md-4">
            <h2>Õpid palju asju</h2>
            <p>
                nagu näiteks MVC wep äpi tegemist
            </p>
            <p>
                <a class="btn btn-default" href="https://github.com/YanShap">Mine Github</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>None</h2>
            <p>
                asd
                asd
                asd
            </p>
        </div>
