@model IEnumerable<_2025contosofuckinyay.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Õpilaste Indeks</h1>
<p>
    <a asp-action="Create">Sisesta õpilane</a>

</p> 
<table class="table">
    <thead>
        <tr>
            <th>
                Perekonna nimi
            </th>
            <th>
                Eesnimi
            </th>
            <th>
                Sisse astunud:
            </th>
            <th>
                Tegevused:
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.EnrollmentDate)
            </td>
            <td>
                <a  asp-action="Delete"class="btn btn-primary" asp-route-id="@item.Id">del</a>
            </td>
        </tr>

        }
        
    </tbody>

</table>